<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <section class="member_classes_list">
    <ion-list id="classes-list">
      <ion-list-header>
        <h3>
          <ion-icon name="list"></ion-icon>
          Classes
        </h3>
      </ion-list-header>


      <ion-list-header>
        <h5>13 Sep</h5>
      </ion-list-header>
      <ion-item>
        <div class="member_classes_list__item">
          <div class="date">
            01:00 pm
          </div>
          <div class="status">
            <span>In process</span>
          </div>
          <div class="subscribers">
            0 / 8
          </div>
          <div class="choose">
            <ion-toggle color="primary" [checked]="false" [disabled]="false"></ion-toggle>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="member_classes_list__item">
          <div class="date">
            02:00 pm
          </div>
          <div class="status">
            <span>In process</span>
          </div>
          <div class="subscribers">
            0 / 8
          </div>
          <div class="choose">
            <ion-toggle color="primary" [checked]="false" [disabled]="false"></ion-toggle>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="member_classes_list__item">
          <div class="date">
            03:00 pm
          </div>
          <div class="status">
            <span>In process</span>
          </div>
          <div class="subscribers">
            0 / 8
          </div>
          <div class="choose">
            <ion-toggle color="primary" [checked]="false" [disabled]="false"></ion-toggle>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="member_classes_list__item">
          <div class="date">
            04:00 pm
          </div>
          <div class="status">
            <span>In process</span>
          </div>
          <div class="subscribers">
            0 / 8
          </div>
          <div class="choose">
            <ion-toggle color="primary" [checked]="false" [disabled]="false"></ion-toggle>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="member_classes_list__item">
          <div class="date">
            05:00 pm
          </div>
          <div class="status">
            <span>In process</span>
          </div>
          <div class="subscribers">
            0 / 8
          </div>
          <div class="choose">
            <ion-toggle color="primary" [checked]="false" [disabled]="false"></ion-toggle>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="member_classes_list__item">
          <div class="date">
            06:00 pm
          </div>
          <div class="status">
            <span>In process</span>
          </div>
          <div class="subscribers">
            0 / 8
          </div>
          <div class="choose">
            <ion-toggle color="primary" [checked]="false" [disabled]="false"></ion-toggle>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="member_classes_list__item">
          <div class="date">
            07:00 pm
          </div>
          <div class="status">
            <span>In process</span>
          </div>
          <div class="subscribers">
            0 / 8
          </div>
          <div class="choose">
            <ion-toggle color="primary" [checked]="false" [disabled]="false"></ion-toggle>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="member_classes_list__item">
          <div class="date">
            08:00 pm
          </div>
          <div class="status">
            <span>In process</span>
          </div>
          <div class="subscribers">
            0 / 8
          </div>
          <div class="choose">
            <ion-toggle color="primary" [checked]="false" [disabled]="false"></ion-toggle>
          </div>
        </div>
      </ion-item>

      <ion-list-header>
        <h5>14 Sep</h5>
      </ion-list-header>
      <ion-item>
        <div class="member_classes_list__item">
          <div class="date">
            05:00 am
          </div>
          <div class="status">
            <span>In process</span>
          </div>
          <div class="subscribers">
            0 / 8
          </div>
          <div class="choose">
            <ion-toggle color="primary" [checked]="false" [disabled]="false"></ion-toggle>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="member_classes_list__item">
          <div class="date">
            06:00 am
          </div>
          <div class="status">
            <span>In process</span>
          </div>
          <div class="subscribers">
            0 / 8
          </div>
          <div class="choose">
            <ion-toggle color="primary" [checked]="false" [disabled]="false"></ion-toggle>
          </div>
        </div>
      </ion-item>
      <ion-item>
        <div class="member_classes_list__item">
          <div class="date">
            07:00 am
          </div>
          <div class="status">
            <span>In process</span>
          </div>
          <div class="subscribers">
            0 / 8
          </div>
          <div class="choose">
            <ion-toggle color="primary" [checked]="false" [disabled]="false"></ion-toggle>
          </div>
        </div>
      </ion-item>

    </ion-list>
  </section>
</ion-content>
