<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="loading" *ngIf="loading">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <section class="member_classes_list" *ngIf="! loading">
    <ion-list id="classes-list">
      <ion-list-header>
        <h3>
          <ion-icon name="list"></ion-icon>
          Classes
        </h3>
      </ion-list-header>


      <div *ngFor="let cg of classesGroup">
        <ion-list-header>
          <h5>{{ cg.date }}</h5>
        </ion-list-header>
        <ion-item *ngFor="let class of cg.classes">
          <div class="member_classes_list__item">
            <div class="date">
              {{ class.time }}
            </div>
            <div class="status">
              <span class="completed" *ngIf="serverInfo.date === class.date && serverInfo.time > class.time;">Complete</span>
              <span class="in-process" *ngIf="serverInfo.date === class.date && serverInfo.time === class.time;">In process</span>
              <span class="pending" *ngIf="serverInfo.date < class.date || (serverInfo.date === class.date && serverInfo.time < class.time)">Pending</span>
            </div>
            <div class="subscribers">
              {{ class.count_subscribers }} / 8
            </div>
            <div class="choose">
              <div *ngIf="class.subscribed === '1'">
                <ion-badge color="success" *ngIf="serverInfo.date === class.date && serverInfo.time >= class.time">ME</ion-badge>
                <ion-toggle
                        color="primary"
                        *ngIf="! (serverInfo.date === class.date && serverInfo.time >= class.time)"
                        (ionChange)="subscribe(class)"
                        [checked]="class.subscribed === '1' ? true : false"
                        [disabled]="serverInfo.date === class.date && serverInfo.time >= class.time"
                ></ion-toggle>
              </div>
              <div *ngIf="class.subscribed === '0'">
                <ion-toggle
                        color="primary"
                        (ionChange)="subscribe(class)"
                        [checked]="class.subscribed === '1' ? true : false"
                        [disabled]="
                          (serverInfo.date === class.date && serverInfo.time >= class.time) ||
                          class.count_subscribers >= 8 ||
                          serverInfo.subscribed_dates.indexOf(class.date) >= 0
                        "
                ></ion-toggle>
              </div>
            </div>
          </div>
        </ion-item>
      </div>


    </ion-list>
  </section>
</ion-content>
