.container {

  .cards {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 10px 2.5% 10px 2.5%;

    >div {
      width: 50%;

      .card {
        padding: 20px 15px;

        &.primary {
          background-color: var(--ion-color-primary);
          color: #ffffff;
          border-radius: 3px 0 0 0;
        }

        &.warning {
          background-color: var(--ion-color-warning);
          color: #ffffff;
          border-radius: 0 3px 0 0;
        }

        &.success {
          background-color: var(--ion-color-success);
          color: #ffffff;
          border-radius: 0 0 0 3px;
        }

        &.danger {
          background-color: var(--ion-color-danger);
          color: #ffffff;
          border-radius: 0 0 3px 0;
        }
      }
    }
  }

  .information {
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    div {
      width: 50%;
      padding: 10px;

      p {
        padding: 0;
        font-size: 14px;
        margin: 0;
        height: 35px;
        overflow: hidden;

        strong {
          font-size: 16px;
        }
      }
    }
  }
}