<section class="container" *ngIf="user">
  <div class="cards">
    <div>
      <div class="card primary">
        <strong>{{ user.member.plan_name }}</strong><br>
        <small>Plan</small>
      </div>
    </div>

    <div>
      <div class="card warning">
        <strong>{{ user.member.member_birthday_date }}</strong><br>
        <small>Birthday</small>
      </div>
    </div>

    <div>
      <div class="card success">
        <strong>{{ user.member.member_payment_date }}</strong><br>
        <small>Payment Date</small>
      </div>
    </div>

    <div>
      <div class="card danger">
        <strong>{{ user.member.member_exp_date }}</strong><br>
        <small>Expiration Date</small>
      </div>
    </div>
  </div>

  <div class="time">
    <p>
      Time to next class:
      <span>{{ h >= 10 ? h : '0' + h }}:{{ i >= 10 ? i : '0' + i }}:{{ s >= 10 ? s : '0' + s }}</span>
    </p>
  </div>

  <ion-card>
    <ion-card-content>
      <div class="information">
        <div>
          <p>
            <strong>
              Name:
            </strong><br>
            {{ user.member.member_name }}
          </p>
        </div>

        <div>
          <p>
            <strong>
              Contact:
            </strong><br>
            {{ user.member.member_contact }}
          </p>
        </div>

        <div>
          <p>
            <strong>
              Age:
            </strong><br>
            {{ user.member.member_age }}
          </p>
        </div>

        <div>
          <p>
            <strong>
              Sex:
            </strong><br>
            {{ user.member.member_sex }}
          </p>
        </div>

        <div>
          <p>
            <strong>
              Date Joined:
            </strong><br>
            {{ user.member.member_join_date }}
          </p>
        </div>

        <div>
          <p>
            <strong>
              Email:
            </strong><br>
            {{ user.member.member_email }}
          </p>
        </div>

        <div>
          <p>
            <strong>
              Height:
            </strong><br>
            {{ user.member.member_height }}
          </p>
        </div>

        <div>
          <p>
            <strong>
              Weight:
            </strong><br>
            {{ user.member.member_weight }}
          </p>
        </div>

      </div>
    </ion-card-content>
  </ion-card>
</section>
