<section class="container">
  <div class="cards">
    <div>
      <div class="card primary">
        <strong>Anual</strong><br>
        <small>Plan</small>
      </div>
    </div>

    <div>
      <div class="card warning">
        <strong>2020-08-20</strong><br>
        <small>Birthday</small>
      </div>
    </div>

    <div>
      <div class="card success">
        <strong>2020-08-20</strong><br>
        <small>Payment Date</small>
      </div>
    </div>

    <div>
      <div class="card danger">
        <strong>2020-08-20</strong><br>
        <small>Expiration Date</small>
      </div>
    </div>
  </div>

  <div class="time">
    <p>
      Time to next class:
      <span>00:40:35</span>
    </p>
  </div>

  <ion-card>
    <ion-card-content>
      <div class="information">
        <div>
          <p>
            <strong>
              Name:
            </strong><br>
            Emilio Ochoa
          </p>
        </div>

        <div>
          <p>
            <strong>
              Contact:
            </strong><br>
            04127833949
          </p>
        </div>

        <div>
          <p>
            <strong>
              Age:
            </strong><br>
            27
          </p>
        </div>

        <div>
          <p>
            <strong>
              Sex:
            </strong><br>
            male
          </p>
        </div>

        <div>
          <p>
            <strong>
              Date Joined:
            </strong><br>
            2020-08-20
          </p>
        </div>

        <div>
          <p>
            <strong>
              Email:
            </strong><br>
            emilioaor@gmail.com
          </p>
        </div>

        <div>
          <p>
            <strong>
              Height:
            </strong><br>
            1.74
          </p>
        </div>

        <div>
          <p>
            <strong>
              Weight:
            </strong><br>
            87
          </p>
        </div>

      </div>
    </ion-card-content>
  </ion-card>
</section>
