section {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #c4c4c4;
  justify-content: center;
  align-items: center;
  padding: 25px;

  .logo {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    img {
      background-color: rgba(255,255,255, .8);
      border-radius: 50%;
      padding: 10px;
      width: 100%;
      max-width: 200px;
      box-shadow: rgba(0,0,0, .2) 0 5px 2px;
    }
  }

  .card {
    width: 100%;
    max-width: 500px;
    background-color: var(--gym-color-primary);
    padding: 0 20px 20px;
    border-radius: 5px;
    box-shadow: rgba(0,0,0, .2) 0 5px 2px;

    .label {
      color: #ffffff;
    }

    button {
      background-color: var(--ion-color-success);
      color: var(--ion-color-success-contrast);
      width: 100%;
      margin-top: 30px;
      padding: 10px 20px;
      font-size: 18px;
      font-weight: bold;
      border-radius: 5px;
    }
  }

  h1 {
    color: var(--gym-color-primary);
    text-align: center;
    font-size: 30px;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}